{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="about-main">
        <h1>About "Music Critic"</h1>
        <div class="about">
            <img src="{% static 'img/memo.png'%}">
            <p>My name is Guillermo Isaac Jimenez Pinkus, most people call me Memo. I have a passion for music, from listening to it to making it. In this blog I will be reviewing several albums which I think are worth talking about.</p>
        </div>
    </div>
        
{% endblock content %}